<app-header></app-header>
<app-submenu></app-submenu>
<section class="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText"><span>A</span>bout US</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi nobis consequatur dolore, dolor nulla aliquam ipsum deserunt perspiciatis illo non laboriosam necessitatibus, possimus et nemo cumque, velit minima temporibus<br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, libero tempore ea, consectetur distinctio nam autem eos, illum veritatis beatae vel doloremque aut sint sit magni voluptatem nobis culpa tempora.
        <br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt alias nulla voluptas molestias quibusdam asperiores dolorum perferendis culpa dignissimos nam, minus quaerat provident similique. Dolorem deserunt magni distinctio quia nesciunt?
        <br><br>Lo  rem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur quae ab quos? Nam qui asperiores assumenda soluta consequatur perferendis quam molestiae, alias error? Non accusamus fugiat nihil voluptatem ullam.
        </p>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="../../../../assets/img/generaknow.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
