<footer>
  <div class="container">
      <div class="sec aboutfooter">
          <h2>Quienes Somos</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis aspernatur voluptatum molestias necessitatibus voluptatibus consectetur saepe, accusantium minima. Accusamus, eveniet hic? Placeat dolores sequi architecto quo natus ducimus minima voluptate.</p>
          <ul class="sci">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
      </div>
      <div class="sec quicklinks">
          <h2>Nuestros Links</h2>
          <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Directory</a></li>
              <li><a href="#">Privacy Policie</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Contact</a></li>

          </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Paginas Amigas</h2>
        <ul>
            <li><a href="#">Organizacion Social</a></li>
            <li><a href="#">ONG</a></li>
            <li><a href="#">Fundacion</a></li>
            <li><a href="">Emprendimiento Social</a></li>
            <li><a href="">Startup</a></li>

        </ul>
    </div>
    <div class="sec contact">
        <h2>Contact Us</h2>
        <ul class="info">
          <li>
              <span><i class="fas fa-map-marker-alt"></i></span>
              <span>Calle Avenida<br>18975<br>Santa Cruz Bolivia</span>
          </li>  
          <li>
            <span><i class="fas fa-mobile-alt"></i></span>
           <p><a href="#">591546789</a></p>
        </li>  
        <li>
            <span><i class="far fa-envelope"></i></span>
           <p><a href="#">correo@correo.com</a></p>
        </li> 
        </ul>

    </div>
  </div>  
</footer>
<div class="copyrightText">
    <p>Copyright 2021 Undertake. Derechos Reservados</p>
</div>
